header {
  width: 100%;
}



body {
  background: #000000 url('https://www.shutterstock.com/shutterstock/videos/3569597657/thumb/1.jpg?ip=x480') repeat;
  color: #00f2ff;
  font-family: "Comic Sans MS", sans-serif;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Harpagan Regular";
  color: #ff48b0;
  text-shadow: 2px 3px #3255a4;
  padding-top: 50px;

}

    #head1{
      font-size: 70px;
    }


h2 {
  text-align: center;
  font-size: 45px;
  font-family: "Harpagan Regular";
  color: #ff48b0;
  text-shadow: 2px 2px #3255a4;
  padding-top: 50px;
}

h3 {
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  color: #3255a4;
  line-height: 19px;
}

h4 {
  font-size: 24px;
  color: #ff48b0;
  text-shadow: 1px 2px #3255a4;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}


p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 18px;
  color: #ff48b0;
}

.p-about {
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  line-height: 30px;
  padding-left: 50px;
  padding-right: 50px;
}



a {
  text-decoration: none;
  color: #ff48b0;
}

a:hover {
  text-decoration: underline;
  color: white;
}


#spacer {
  height: 200px;
  width: auto;
}
#spacer-sm {
  height: 50px;
  width: auto;
}




/*menu bar*/


ul{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 2;
}



.nav {
  display: flex;
  width: auto;
  top: 0;
  left: 0;
}
  
  .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    position: relative;
  }
  
  .nav-menu a {
    display: block;
    color: #ff48b0;
    text-decoration: none;
    padding: 15px 20px;
    align-content: center;
  }
  
  .nav-menu a:hover {
    background-color: #ff48b0;
    color: #3255a4;
    transition: 0.5s;
}
  


/*scroll animation*/

.scroll-watcher {
  height: 3px;
  position: fixed;
  top: 20;
  z-index: 1000;
  background-color:#ff48b0;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {scale: 1 1;}
}



/*gallery*/


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 15px;
    align-items: center;
}

  .gallery-item {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      padding: 25px;
  }

  .gallery-item img {
      max-width: 200px;
      height: auto;
      filter: grayscale(0%);
  }

  .gallery-item:hover {
    scale: 1.1;
    transition: 0.2s;
    
}


/*duotone*/
:root {
  --base: #ff48ad;
  --bg-blend: hard-light;
  --blur: 0px;
  --fg-blend: lighten;
  --foreground: #3250a4;
  --opacity: 1;
  --spacing: 1%;
}
.img-wrapper {
  background-color: var(--base);
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  padding: var(--spacing);
  position: relative;
}

.img-wrapper img {
  filter: grayscale(100%) contrast(1) blur(var(--blur));
  flex: 1 0 100%;
  height: 100%;
  max-width: 100%;
  mix-blend-mode: var(--bg-blend);
  object-fit: contain;
  opacity: var(--opacity);
  position: relative;
  width: 100%;
}

.img-wrapper::before {
  background-color: var(--foreground);
  bottom: 0;
  content: '';
  mix-blend-mode: var(--fg-blend);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}



/*picture gallery information boxes
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff48b0;
    border-radius: 2cap;
    color: #00f2ff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    transform: translateY(100%);
    transition: transform 0.2s ease;
}

gallery-item:hover .info {
    transform: translateY(0);
}*/




.rainbow{
  width: device-width;
  height:2px;
  background: linear-gradient(to right,  magenta,orange,yellow,green, #00f2ff,#3255a4,violet,magenta);
  background-repeat:repeat-x;
  animation: rainbow 8s linear infinite;
}

@keyframes rainbow {
  0%{background-position:0;}
  100%{background-position:12000px 0;}
}




/*footer*/

#footer {
  text-align: center;
  font-size: 14px;
  color: #ff48b0;
  padding: 20px 10px;
  background-color: #3255a4;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-end: 50px;
}


@font-face {
  font-family: "Harpagan";
  src: url('../fonts/harpagantest-light.otf');
  src: url('../fonts/harpagantest-light.otf') format('embedded-opentype');
}

@font-face {
  font-family: "Harpagan Regular";
  src: url('../fonts/harpagantest-regular.otf');
  src: url('../fonts/harpagantest-regular.otf') format('embedded-opentype');
}



/*testimonies page*/
.quote{
  background-color: #3255a4;
  position: static;
  margin: auto;
  width: 80%;
  padding: 30px;
  border-radius: 5cap;
  left: 0;
  top: 50px;
  content: "";
  clear: both;
  display: table;
  border: 20px black solid;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-end: 500px;
}

#quote-img{
  height: 220px;
  float: left;
  padding-right: 30px;
}

#quote-img:hover{
  scale: 0.9;
  transition: 1s;
}

#quote-p{
  font-size: 18px;
  color: rgb(255, 231, 253);
  text-shadow: 1px 1px #ff48b0;
}

@keyframes fade-in {
  from {scale: .8; opacity: 0;}
  to {scale: 1; opacity: 1;}
}